<!DOCTYPE html>
<html>
    <head>
        <title>
            FII Code!
        </title>
        <meta char="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel = "icon" type = "image/png" href = "/icon.png">
        <link rel = "apple-touch-icon" type = "image/png" href = "/icon.png"/>
    </head>
    <body>
        <div class="bgimage">
          <p class="titles"> COMING SOON </p>
          <table class="CountdownContainer">
          <tr id="demo" class="info-bold">
            <td id="days" class="padding"> </td>
            <td class="padding"> : </td>
            <td id="hours" class="padding"> </td>
            <td class="padding"> : </td>
            <td id="minutes" class="padding"></td>
            <td class="padding"> : </td>
            <td id="seconds" class="padding"></td>
          </tr>
          <tr>
            <td class="padding">DAYS</td>
            <td class="padding"></td>
            <td class="padding">HOURS</td>
            <td class="padding"></td>
            <td class="padding">MINUTES</td>
            <td class="padding"></td>
            <td class="padding">SECONDS</td>
          </tr>
        </table>
        </div>
    </body>

    <script src="countdown.js"></script>
    
</html>